In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

In [39]:
#Electric Vehicle Population Data as of today
ev_pop_data = pd.read_csv('datasets/Electric_Vehicle_Population_Data.csv')
#https://catalog.data.gov/dataset/electric-vehicle-population-data

In [40]:
ev_pop_data.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,KM8K33AGXL,King,Seattle,WA,98103.0,2020,HYUNDAI,KONA,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,258,0,43.0,249675142,POINT (-122.34301 47.659185),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,1C4RJYB61N,King,Bothell,WA,98011.0,2022,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,1.0,233928502,POINT (-122.20578 47.762405),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2,1C4RJYD61P,Yakima,Yakima,WA,98908.0,2023,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,14.0,229675939,POINT (-120.6027202 46.5965625),PACIFICORP,5.307700e+10
3,5YJ3E1EA7J,King,Kirkland,WA,98034.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,45.0,104714466,POINT (-122.209285 47.71124),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WBY7Z8C5XJ,Thurston,Olympia,WA,98501.0,2018,BMW,I3,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,97,0,22.0,185498386,POINT (-122.89692 47.043535),PUGET SOUND ENERGY INC,5.306701e+10

In [41]:
ev_pop_data.shape

(150482, 17)

In [42]:
#Month on month electric vehicle data 
ev_pop_per_month = pd.read_csv('datasets/Electric_Vehicle_Population_Size_History.csv')
#https://catalog.data.gov/dataset/electric-vehicle-population-size-history

In [43]:
ev_pop_per_month.head(100)

,Date,Plug-In Hybrid Electric Vehicle (PHEV) Count,Battery Electric Vehicle (BEV) Count,Electric Vehicle (EV) Total
0,January 31 2017,7687,14738,22425
1,February 28 2017,7888,15206,23094
2,March 31 2017,8092,15596,23688
3,April 30 2017,8286,16104,24390
4,May 31 2017,8497,16569,25066
...,...,...,...,...
76,May 31 2023,31651,105040,136691
77,June 30 2023,32497,108557,141054
78,July 31 2023,33081,112115,145196
79,August 31 2023,33864,117403,151267
80,September 30 2023,34434,119396,153830

In [44]:
#Washington Car Population History Counties
cars = pd.read_csv('datasets/Electric_Vehicle_Population_Size_History_By_County.csv')
#https://catalog.data.gov/dataset/electric-vehicle-population-size-history-by-county

In [45]:
#Filtering for just Washington
cars = cars[cars.State == 'WA']

In [46]:
cars.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,June 30 2020,Pend Oreille,WA,Passenger,7,6,13,9241,9254,0.14
1,July 31 2017,Columbia,WA,Truck,0,0,0,1533,1533,0.00
8,May 31 2021,Jefferson,WA,Truck,0,0,0,9615,9615,0.00
12,June 30 2019,Pend Oreille,WA,Truck,0,0,0,5731,5731,0.00
15,May 31 2021,Clark,WA,Truck,0,0,0,84179,84179,0.00

In [47]:
cars = df.sort_values(by='Date')
cars.head(30)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
18171,April 30 2017,Mason,WA,Truck,0,0,0,19240,19240,0.00
5486,April 30 2017,Yakima,WA,Passenger,38,54,92,159280,159372,0.06
9461,April 30 2017,Thurston,WA,Truck,0,0,0,53250,53250,0.00
3283,April 30 2017,Okanogan,WA,Passenger,3,16,19,25591,25610,0.07
5779,April 30 2017,Columbia,WA,Passenger,0,1,1,2359,2360,0.04
15129,April 30 2017,San Juan,WA,Truck,0,0,0,5551,5551,0.00
8943,April 30 2017,Klickitat,WA,Passenger,22,23,45,14767,14812,0.30
5054,April 30 2017,Walla Walla,WA,Passenger,22,24,46,34828,34874,0.13
9571,April 30 2017,Grant,WA,Truck,0,0,0,25091,25091,0.00
18719,April 30 2017,Grant,WA,Passenger,18,21,39,60483,60522,0.06
18996,April 30 2017,Skamania,WA,Truck,0,0,0,3874,3874,0.00
7559,April 30 2017,Jefferson,WA,Truck,0,0,0,9442,9442,0.00
10864,April 30 2017,Wahkiakum,WA,Truck,0,0,0,1631,1631,0.00
17172,April 30 2017,Whatcom,WA,Truck,2,0,2,41449,41451,0.00
8518,April 30 2017,Island,WA,Truck,0,0,0,20519,20519,0.00
16622,April 30 2017,Wahkiakum,WA,Passenger,0,2,2,2848,2850,0.07
12212,April 30 2017,Skagit,WA,Truck,1,0,1,31397,31398,0.00
9161,April 30 2017,Whitman,WA,Passenger,9,19,28,21963,21991,0.13
6604,April 30 2017,Chelan,WA,Truck,0,0,0,21207,21207,0.00
3122,April 30 2017,Lewis,WA,Truck,0,0,0,24799,24799,0.00
947,April 30 2017,Yakima,WA,Truck,0,0,0,57217,57217,0.00
17634,April 30 2017,Clallam,WA,Passenger,80,68,148,48124,48272,0.31
7486,April 30 2017,Benton,WA,Truck,0,0,0,39891,39891,0.00
8950,April 30 2017,Island,WA,Passenger,108,129,237,59763,60000,0.40
15248,April 30 2017,Clark,WA,Passenger,755,471,1226,298471,299697,0.41
7469,April 30 2017,Mason,WA,Passenger,49,64,113,43003,43116,0.26
5921,April 30 2017,Ferry,WA,Truck,0,0,0,3551,3551,0.00
11557,April 30 2017,San Juan,WA,Passenger,98,35,133,13478,13611,0.98
11220,April 30 2017,Clallam,WA,Truck,0,0,0,20959,20959,0.00
15260,April 30 2017,Adams,WA,Passenger,2,3,5,12127,12132,0.04

In [48]:
cars.County.value_counts()

Mason           162
Snohomish       162
Adams           162
Lincoln         162
Grays Harbor    162
Pierce          162
Garfield        162
Douglas         162
Kitsap          162
Kittitas        162
Clark           162
Franklin        162
Stevens         162
Spokane         162
Cowlitz         162
Asotin          162
King            162
Pacific         162
Ferry           162
Benton          162
Yakima          162
Skamania        162
Thurston        162
Okanogan        162
Columbia        162
San Juan        162
Klickitat       162
Walla Walla     162
Grant           162
Jefferson       162
Clallam         162
Wahkiakum       162
Whatcom         162
Island          162
Skagit          162
Whitman         162
Chelan          162
Lewis           162
Pend Oreille    162
Name: County, dtype: int64

In [49]:
fuel_stations = pd.read_csv('datasets/alt_fuel_stations.csv')
#https://afdc.energy.gov/stations/#/analyze
fuel_stations.head()

/var/folders/v1/kyy1qs715rbg2rqbmr3z3rb40000gn/T/ipykernel_9714/3849247855.py:1: DtypeWarning: Columns (14,15,16,20,31,33,34,39,41,43,46,49,52,57,58,59,60,61,62,65,67,69,70,71) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_stations = pd.read_csv('datasets/alt_fuel_stations.csv')

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging
0,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3181,E,...,False,NaN,NaN,NaN,NaN,NaN,False,NaN,MD,NaN
1,CNG,Clean Energy - Logan International Airport,1000 Cottage St Ext,"From Route 1, take the first exit after Callah...",East Boston,MA,02128,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,True,NaN,MD,NaN
2,CNG,Clean Energy - Everett - National Grid,16 Rover St,"Rt 16, exit to Rt 99, to Dexter St to Rover. O...",Everett,MA,02149,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,False,NaN,HD,NaN
3,CNG,Clean Energy - Greenpoint - National Grid,287 Maspeth Ave,"I-278/Brooklyn Queens Expy, exit onto Vandervo...",Brooklyn,NY,11211,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,True,NaN,HD,NaN
4,CNG,Canarsie - National Grid,8424 Ditmas Ave,"From Shore Pkwy, take Rockaway Pkwy N, left on...",Brooklyn,NY,11236,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,NaN